<div class="main-body">


  <div>
   <a target="_blank" href="https://www.google.com/maps/place/Kampus+Korner+Restaurant/@30.0413162,-94.0728179,17z/data=!3m1!4b1!4m2!3m1!1s0x863eca79086ceeab:0x704b6f5fad49fe5c"> <%=image_tag "locatin.png" %></a>
    </div>
  <br />
  <% flash.each do |key, value|  %>
      <p style="
      font-family: cursive;
              color: darkred;
      "><%= value %></p>
  <% end%>
  <div style="color: floralwhite;float: left;width: 40%;font-family: cursive;">
  <h1><b>Please give your valuable feedback</b></h1></br>

  <%= form_for Opinion.new do |opinion| %>
      <%= opinion.label :name %>
      <%= opinion.text_field :name, autofocus: true %><br /><br />

      <%= opinion.label :email %>
      <%= opinion.email_field :email, autofocus: true %><br /><br />

      <%= opinion.label "Did you recieve your meal in a timely fashion?" %>
      <br />
      <%= opinion.radio_button :q1,"1"  %>
      <%= label_tag(:opinion_q1_1, "Unsatisfied") %>
      <%= opinion.radio_button(:q1,"2")  %>
      <%= label_tag(:opinion_q1_2, "satisfied") %>
      <%= opinion.radio_button(:q1,"3")  %>
      <%= label_tag(:opinion_q1_3, "very satisfied") %>
      <br /><br />

      <%= opinion.label "How would you rate your meal?" %>
      <br />
      <%= opinion.radio_button :q2,"1"  %>
      <%= label_tag(:opinion_q2_1, "Unsatisfied") %>
      <%= opinion.radio_button(:q2,"2")  %>
      <%= label_tag(:opinion_q2_2, "satisfied") %>
      <%= opinion.radio_button(:q2,"3")  %>
      <%= label_tag(:opinion_q2_3, "very satisfied") %>
      <br /><br />

      <%= opinion.label "How would you rate your overall experience?" %>
      <br />
      <%= opinion.radio_button :q3,"1"  %>
      <%= label_tag(:opinion_q3_1, "Unsatisfied") %>
      <%= opinion.radio_button(:q3,"2")  %>
      <%= label_tag(:opinion_q3_2, "satisfied") %>
      <%= opinion.radio_button(:q3,"3")  %>
      <%= label_tag(:opinion_q3_3, "very satisfied") %>
      <br /><br />

      <%= opinion.label "Would you recommend Kampus Korner to your friends?" %>
      <br />
      <%= opinion.radio_button :q4,"1"  %>
      <%= label_tag(:opinion_q4_1, "Yes") %>
      <%= opinion.radio_button(:q4,"2")  %>
      <%= label_tag(:opinion_q4_2, "No") %>
      <br /><br/>
      <%= opinion.label "Comment" %><br/>
      <%= opinion.text_area :improvement, autofocus: true %><br /><br />
      <%= opinion.submit  "submit" %>
      <% end%>

</div>
  <div style="width: 40%;float: right;font-family: cursive;font-size: large;color: floralwhite;">
    <p style="font-size: x-large;">Working hours</p>
    <p>Monday - Saturday 9:00 AM to 10:00 PM</p>
    <p>closed on sunday</p>
    <p style="font-size: x-large; padding-top: 2%">Contaact us</p>
    <p>4637 Rolfe Christopher Dr</p>
    <p>Beaumont, TX 77705</p>
    <p>phone: 409-832-6386</p>
  </div>
  <div class="clear"> </div>
</div>
