
<!DOCTYPE HTML>
<html>
<head>
  <title>Kampus Korner</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <%= stylesheet_link_tag "style"%>
  <%= stylesheet_link_tag "slider-styles"%>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "slider" %>

</head>
<body>
<div class="wrap">
  <div class="top-head">
    <div class="welcome">Welcome To <span>Food Point</span></div>
    <div class="top-nav">
      <ul>

        <li class="active"><%=link_to "Home" %></li>
        <li><%=link_to "Gallery" , gallaries_path %></li>
        <li><%=link_to "Opinion" , opinions_index_path %></li>
        <li><%=link_to "Contact" , home_contact_path %></li>
      </ul>
    </div>
    <div class="clear"> </div>
  </div>
<%= render 'home/header' %>
  <%= yield %>
</div>
<%= render 'home/footer'%>
<script>
    $('#slider').coinslider();
</script>

</body>
</html>
